{% extends 'layout.html' %}
{% block content %}
<div>
    <form method='POST' action="{{url_for('editar',id_ed=pelicula.id)}}">
        {{form.hidden_tag()}}
        <div>
            {{form.titulo.label}}
            {{form.titulo(value=pelicula.nombre)}}
        </div>
        <div>
            {{form.descripcion.label}}
            {{form.descripcion(value=pelicula.descripcion, class="form-control" ,id="exampleFormControlTextarea1" ,rows="3")}}
        </div>
        <div>
            {{form.visto.label}}
            {{form.visto(value=pelicula.visto)}}
        </div>
        <div>
            {{form.director.label}}
            {{form.director(value=pelicula.director)}}
        </div>
        <div>
            {{form.duracion.label}}
            {{form.duracion(value=pelicula.duracion)}}
        </div>
        <div>
            {{form.fecha.label}}
            {{form.fecha(value=fecha, type="text",placeholder="DD-MM-YYYY")}}
        </div>
        <div>
            {{ form.submit(class="btn btn-primary") }}  <!-- Botón de enviar -->
        </div>
    </form>
</div>
{% endblock %}